<div id="<%= dom_id submission %>">
  <p>
    <h1><%= submission.name %></h1>
  </p>

  <p style="display: inline-block; background: #efefef; padding: 0.5rem 1rem; border-radius: 0.25rem">
    <%= submission.submission_type.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= submission.link %>
  </p>

</div>
