<div id="<%= dom_id submission %>">
  <p>
    <strong>User:</strong>
    <%= submission.user_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= submission.url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= submission.content %>
  </p>

</div>
